{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
    <div id="info">
    <h1>Veuillez-vous mettre à jour</h1>
{% include "@FOSUser/Profile/edit_content.html.twig" %}
    </div>
{% endblock fos_user_content %}
