
<h1>L'association Soamada</h1>
<h2>Merci pour votre message</h2>
<p>Bonjour</p>
<p>Vous avez déposé un message par le biais du formulaire de contact et nous en remercions.</p>
<p>Nous avons pris en compte votre message envoyé et nous vous repondrons dans les plus brefs délais"</p>
<br>
<p>Bien cordialement</p>
<br>
<br>
<p>L'administrateur du site Soamada</p>
