
<h1>L'association Soamada</h1>
<p>Vous avez reçu un nouveau message, voici le message : </p>
{% block body %}
    {% for message in messages %}
        <p>{{ message.nom | raw }}</p>
        <p>{{ message.prenom | raw }}</p>
        <p>{{ message.email | raw }}</p>
        <p>{{ message.corps | raw }}</p>
        {% endfor %}
{% endblock %}

