
<h1>L'association Soamada</h1>
<h2>Merci pour votre adhésion</h2>
<p>Bonjour</p>
<p>Vous avez rempli le formulaire d'adhésion à l'association et nous vous remercions</p>
<br>
<p>Bien cordialement</p>
<br>
<p>L'administrateur du site Soamada</p>
