{% extends "::base.html.twig" %}
{% block body %}
{% if is_granted("ROLE_ADMIN") %}
{% for abonne in abonnes %}
    <div id="liste">
<p>{{abonne.emailabonne }}</p>
<div>
    <a href="{{ path('assoc_envoisnewsletter') }}"><input type="submit" class="btn btn-primary" value="Envoyer la newsletter" /></a>
</div>
    </div>
{% endfor %}
{% endif %}
{% endblock %}