@import url('https://fonts.googleapis.com/css?family=Kanit');

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27 mars 2019, 09:58:01
    Author     : Honoré
*/

body {
    padding : 5%;
}

#cantine {
    padding : 5%;
    display: block;
    vertical-align:middle;
}

#nous {
    padding : 5%;
    display: block;
    vertical-align:middle;
}

#accueil {
    padding : 5%;
    display: block;
    vertical-align:middle;

}
.jumbotron {
    color: blue;
    background: transparent;
}
#fontaine {
    padding : 5%;
    display: block;
    vertical-align:middle;
}

#fourniture {
    padding : 5%;
    display: block;
    vertical-align:middle;
}

#message {
    padding : 5%;
    display: inline;
    float: right;
    vertical-align:middle;
}

#coordonnee {
    padding : 5%;
    display: inline;
    float: left;
    vertical-align: middle;
}

.fos_user_user_show {
    padding: 5%;
}

#info {
    padding: 5%;
}

#auteur {
    font-style: italic;
    color: lightslategrey;
}

footer {
    text-align: center;
}


a.navbar-brand {
    margin-right: 200px;
    text-align: center;
}


#bs-example-navbar-collapse-1 {
    margin-left: 100px;
    margin-right: -10px;
}

a.bouton {
    margin-top: -10px;
}

.navbar-nav {
    text-align: center;
}

.navbar-nav > li {
      float: none;
      display: inline-block;
}
.presentation {
    font-family: 'Kanit', cursive;
    font-size: 50px;
}
.titre {
    float: left;
    display: block;
    font-family: 'Kanit', cursive;
    font-size: 40px;
    margin-right: 100px;
    text-shadow: white 0.2em 0.2em 0.2em;
}

.logo {
    float: left;
    display: block;
    text-align: center;
    width: 40px;
    height: 40px;
}

.bienvenue {
    font-size: 50px;
}
