@import url('https://fonts.googleapis.com/css?family=Kanit');

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27 mars 2019, 09:58:01
    Author     : Honoré
*/

body {
    padding : 10%;
    background: url(../img/fondsoamada.jpg);
    position: absolue;
    width: 100%; /* Il occupe toute la largeur de l'écran */
    height: 100%; /* On met ici la même hauteur que le jumbotron */
    text-shadow: cyan 0.05em 0.05em 0.05em;
}

.police {
    color: whitesmoke;
}

#cantine {
    padding : 10%;
    display: block;
    vertical-align:middle;
}

#nous {
    padding : 10%;
    display: block;
    vertical-align:middle;
}

#accueil {
    padding : 10%;
    display: block;
    vertical-align:middle;

}
.jumbotron {
    color: blue;
    background: transparent;
}
#fontaine {
    padding : 10%;
    display: block;
    vertical-align:middle;
}

#fourniture {
    padding : 10%;
    display: block;
    vertical-align:middle;
}

#message {
    padding : 10%;
    display: inline;
    float: right;
    vertical-align:middle;
}

#coordonnee {
    padding : 10%;
    display: inline;
    float: left;
    vertical-align: middle;
}

.fos_user_user_show {
    padding: 10%;
}

#info {
    padding: 5%;
}

#auteur {
    font-style: italic;
    color: lightslategrey;
}

footer {
    text-align: center;
}

.centre {
    text-align: center;
}

a.navbar-brand {
    margin-right: 200px;
    text-align: center;
}


#bs-example-navbar-collapse-1 {
    margin-left: 100px;
    margin-right: -10px;
}

a.bouton {
    margin-top: -10px;
}

.navbar-nav {
    text-align: center;
}

.navbar-nav > li {
    float: none;
    display: inline-block;
}
.presentation {
    font-family: 'Kanit', cursive;
    font-size: 50px;
}
.titre {
    float: left;
    display: block;
    font-family: 'Kanit', cursive;
    font-size: 40px;
    margin-right: 100px;
    text-shadow: white 0.2em 0.2em 0.2em;
}

.logo {
    float: left;
    display: block;
    text-align: center;
    width: 40px;
    height: 40px;
}

.bienvenue {
    font-size: 50px;
}

section#don {
    display: inline;
    text-align: center;
    margin : 500px;
    padding: 100px;
}
