@import url('https://fonts.googleapis.com/css?family=Kanit');

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27 mars 2019, 09:58:01
    Author     : Honoré
*/

body {
    padding : 7%;
    position: relative;

    /*text-shadow: cyan 0.05em 0.05em 0.05em;*/

}

.police {
    color: black;
    background-color: whitesmoke;
}


#cantine {
    padding : 10%;
    display: block;
    width: 100%; /* Il occupe toute la largeur de l'écran */
    vertical-align: middle;
}

#nous {
    padding : 10%;
    display: block;
    vertical-align:middle;
}

#accueil {
    background-image: url(../img/fondsoamada.jpg);
    padding : 10%;
    display: block;
    width: 100%; /* Il occupe toute la largeur de l'écran */
    vertical-align:middle;
    color: whitesmoke;
    background-size: cover;
    position: absolue;
    width: 100%; /* Il occupe toute la largeur de l'�cran */
    height: 100%; /* On met ici la m�me hauteur que le jumbotron */
}
.jumbotron {
    color: blue;
    background: transparent;
}
#fontaine {
    padding : 10%;
    display: block;
    vertical-align:middle;
}

#fourniture {
    padding : 10%;
    display: block;
    vertical-align:middle;
}

#message {
    padding : 10%;
    display: inline;
    float: right;
    vertical-align:middle;
}

#coordonnee {
    padding : 10%;
    display: inline;
    float: left;
    vertical-align: middle;
}

#don {

}

.fos_user_user_show {
    padding: 10%;
}

#info {
    padding: 5%;
}

#auteur {
    font-style: italic;
    color: lightslategrey;
}

footer {
    position: absolute; 
    left: 0; 
    right: 0;
    text-align: center;
}

.centre {
    text-align: center;
}

a.navbar-brand {
    margin-right: 200px;
    text-align: center;
}


#bs-example-navbar-collapse-1 {
    margin-left: 100px;
    margin-right: -10px;
}

a.bouton {
    margin-top: -10px;
}

.navbar-nav {
    text-align: center;
}

.navbar-nav > li {
    float: none;
    display: inline-block;
}
.presentation {
    font-family: 'Kanit', cursive;
    font-size: 50px;
}
.titre {
    float: left;
    display: block;
    font-family: 'Kanit', cursive;
    font-size: 30px;
    margin-right: 100px;

    /*text-shadow: white 0.2em 0.2em 0.2em;*/
}

.logo {
    float: left;
    display: block;
    text-align: center;
    width: 30px;
    height: 30px;
}

.bienvenue {
    font-size: 50px;
    text-align: center;
}

section#don {
    display: inline;
    text-align: center;
    margin : 500px;
    padding: 100px;
}

div#ligne {
    float: none;
    display: inline-block;
}

.map-responsive {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}

.map-responsive iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

section#journal {
    text-align: center;
}
