{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
    
    <div id="info">
    <h1>Veuillez-vous connecter</h1>
    {{ include('@FOSUser/Security/login_content.html.twig') }}
    </div>
    <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>

{% endblock fos_user_content %}
